<div class="container">
 
  <%= render "shared/head" %>

  <div class="row main-pannel">
	<div class="col-md-2 catalog" data-no-turbolink>
	  <ul>
	    <% @catalogs.each do |k, v| %>
			<li><%= link_to k.name, catalog_path(k) %>
		      <ul>
			    <% v.each do |c| %>
				  <li><%= link_to c.name, catalog_path(c) %></li>
			    <% end %>
		      </ul>
			</li>
		<% end %>
	  </ul>
    </div>
	
	<div class="col-md-10 slider">
	  <div id="owl-slider" class="owl-carousel">
	    <div class="item"><img src="poster/images/1.jpg" alt="poster1"></div>
	    <div class="item"><img src="poster/images/2.jpg" alt="poster1"></div>
	    <div class="item"><img src="poster/images/3.jpg" alt="poster1"></div>
	  </div>
	</div>

  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">水果</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">蔬菜</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">肉类</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">海鲜</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>
</div>
