<div class="container">
  <div class="row head-bar">
	<div class="col-md-2 logo">
	  [the logo]
	</div>
	<div class="col-md-10 info">
	</div>
  </div>

  <div class="row nav-strip">
	<div class="col-md-12">
	  <ul>
	    <li><a href="#">分类</a></li>
	    <li><a href="#">首页</a></li>
	    <li><a href="#">组合区</a></li>
	    <li><a href="#">推荐区</a></li>
	    <li><a href="#">折扣区</a></li>
	  </ul>
	</div>
  </div>

  <div class="row">
	<div class="col-md-2 catalog">
	  <ul>
	    <% @catalogs.each do |k, v| %>
			<li><%= link_to k.name, "#" %>
		      <ul>
			    <% v.each do |c| %>
				  <li><%= link_to c.name, "#" %></li>
			    <% end %>
		      </ul>
			</li>
		<% end %>
	  </ul>
    </div>
	
	<div class="col-md-10 poster">
	  <ul class="rslides">
	    <li><img src="poster/images/1.jpg" alt="poster1"></li>
	    <li><img src="poster/images/2.jpg" alt="poster1"></li>
	    <li><img src="poster/images/3.jpg" alt="poster1"></li>
	  </ul>
	</div>

  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">水果</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">蔬菜</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">肉类</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>


  <div class="row">
	<div class="col-md-12 head-strip">
	  <div class="wrapper clearfix">
	    <a href="#" class="pull-left">海鲜</a>
	    <a href="#" class="more pull-right">更多</a>
	  </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <%= render @products %>
	</div>
  </div>
</div>
