<tr>
  <td><%= order.id %></td>
  <td class="order-title"><%= order.title %></td>
  <td><%= order.total %></td>
  <td id="order<%= order.id %>"><%= order.state_name %></td>
  <td><%= order.created_at %></td>
  <% if [3,4,5].include? order.state %>
	  <td><%= link_to '处理', process_order_path(order.id), remote: true, data: {confirm: '确定提交订单到下一环节？'} unless order.state == 6 %></td>
  <% else %>
    <td><%= link_to '处理', process_order_path(order.id) unless order.state == 6 %></td>
  <% end %>
</tr>
