<tr>
  <td><%= order.title %></td>
  <td><%= order.total %></td>
  <td><%= order.state_name %></td>
  <td><%= order.created_at %></td>
  <td><%= link_to '处理', process_order_path(order.id) %></td>
</tr>
