<tr>
  <td><%= order.id %></td>
  <td class="order-title"><%= order.title %></td>
  <td><%= order.total %></td>
  <td id="order<%= order.id %>"><%= order.state_name %></td>
  <td><%= order.created_at %></td>

  <td>
  <% if current_user.admin? %>
	<% if [3,5].include?(order.state) %>
	  <%= link_to '处理', process_order_path(order.id), remote: true, data: {confirm: '确定提交订单到下一环节？'} %>
	<% end %>
  <% else %>
	<% if order.state == 4 %>
	  <%= link_to '处理', process_order_path(order.id), remote: true, data: {confirm: '确定提交订单到下一环节？'} %>
    <% end %>
	<% unless [3,4,5,6].include? order.state %>
      <%= link_to '处理', process_order_path(order.id) %>
    <% end %>
  <% end %>
  </td>
</tr>
