<div class="container">
  <div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-12">
		<h4>请选择付款方式:</h4>
	  <%= form_for :order, url: pay_order_path(@order) do |f| %>
		<div class="form-group">
		  <%= f.label :pay_type do %>
		    <%= f.radio_button :pay_type, 0 %> <span>货到付款</span>
		  <% end %>
		</div>

	    <div class="form-group">
		  <%= f.label :pay_type do %>
		    <%= f.radio_button :pay_type, 1 %> <span>支付宝付款</span>
		  <% end %>
		</div>

	    <%= f.submit '提交订单', class: "btn btn-danger" %>
	  <% end %>
	</div>
  </div>
</div>
