<div class="container">
  <div class="row order">
    <%= render "shared/navstrip" %>

	<div class="reciever col-md-4 col-md-offset-4 col-sm-12">
	
	  <h4 class="text-warning">请填写收货人信息</h4><br/>

      <%= form_for :reciever, url: recieve_order_path(@order), method: :post do |f| %>

        <% if @order.reciever.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @order.reciever.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, '收货人姓名' %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :address, '地址' %>
          <%= f.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :telephone, '联系电话' %>
          <%= f.text_field :telephone, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= submit_tag '确定->去付款', class: "btn btn-danger pull-right" %>
        </div>
      <% end %>

	</div>
  </div>
</div>

