<div class="container">
  <%= render "shared/navstrip" %>

  <div class="row">
    <table class="table table-bordered cart">
      <thead>
        <th>图片</th>
        <th>名称</th>
        <th class="hidden-xs">说明</th>
        <th>数量</th>
        <th>价格(元)</th>
        <th>金额(元)</th>
        <th>操作</th>
      </thead>
      <tbody class="line-items">
      <% current_user.cart.lineItems.each do |l| %>
    	<tr>
        <td id="picture"><%= image_tag l.product.pictures.first.pic.url(:small) %></td>
        <td><%= l.product.name %></td>
        <td class="description hidden-xs"><%= truncate l.product.description, length: 100 %></td>
		<td><%= l.count %><%= l.product.unit %></td>
		<td><%= l.product.price %>/<%= l.product.unit %></td>
        <td><%= l.count * l.product.price %></td>
        <td><%= link_to '删除', l, method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
    	</tr>
      <% end %>

      <tr>
        <td colspan="5">合计金额</td>
        <td><%= @total %> 元</td>
        <td class="hidden-xs"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
	<div class="pull-right" data-no-turbolink>
	  <%= link_to '现在去结帐', "#", class: "btn btn-danger" %>
	  <%= link_to '再去逛逛', root_path, class: "btn btn-warning" %>
    </div>
  </div>

</div>
