<div class="icons">
  <span class="look glyphicon glyphicon-eye-open"></span>
  <span id="looks<%= product.id %>"><%= product.looks.count %></span>

  <% if user_signed_in? %>
    <%= link_to like_product_url(product), remote: true, method: :post do %>
      <span class="glyphicon glyphicon-heart"></span>
    <% end %>
  <% else %>
    <span class="like glyphicon glyphicon-heart"></span> 
  <% end %>
  <span id="likes<%= product.id %>"><%= product.likes.count %></span>

</div>

