<div class="col-md-3">
  <div class="thumbnail">
	<%= image_tag product.pictures.first.pic.url(:medium) %>
	<div class="caption">
	  <h3><%= product.name %></h3>
	  <p><%= product.description %></p>
	  <p><span><%= product.price %></span> <span><%= product.unit %></span> <span><%= product.amount %></span></p>
	</div>
  </div>
</div>
