<div class="col-sm-6 col-md-3">
  <div class="thumbnail product-box" data-no-turbolink>
	<%= link_to product_path product do %>
	  <%= image_tag product.pictures.first.pic.url(:medium) %>
	<% end %>
	<div class="caption">
	  <h4><%= product.name %></h4>
	  <p><%= truncate product.description, length: 50 %></p>
	  <p><span>¥ <%= product.price %> 元</span>/<span><%= product.unit %></span> <span>数量 <%= product.amount %></span></p>
	  <p><%= render 'products/icons', product: product %></p>
	</div>
  </div>
</div>
