<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
	<%= link_to product_path product do %>
	  <%= image_tag product.pictures.first.pic.url(:medium) %>
	<% end %>
	<div class="caption">
	  <h5><%= product.name %></h5>
	  <p><%= truncate product.description, length: 50 %></p>
	  <p><span><%= product.price %></span> <span><%= product.unit %></span> <span><%= product.amount %></span></p>
	  <p><%= render 'products/icons', product: product %></p>
	</div>
  </div>
</div>
