<div class="col-sm-6 col-md-3">
  <div class="thumbnail product-box" data-no-turbolink>
	<%= link_to product_path product do %>
	  <%= image_tag product.pictures.first.pic.url(:medium) %>
	<% end %>
	<div class="caption">
	  <div class="row product-name">
	    <div class="col-xs-3">名称:</div>
		<div class="col-xs-9"><%= product.name %></div>
	  </div>

	  <div class="row">
		<div class="col-xs-3">价格:</div>
		<div class="col-xs-9">¥ <%= product.price %> 元/<%= product.unit %></div>
	  </div>

	  <div class="row">
		<div class="col-xs-3">数量:</div>
		<div class="col-xs-9"><%= product.amount %></div>
	  </div>

	  <div class="row buttons">
	    <div class="col-xs-6">
		  <%= render 'products/icons', product: product %>
	    </div>

	    <div class="col-xs-6 buy">
	      <%= hidden_field_tag :product_id, product.id %>

	      <% if user_signed_in? %>
	        <%= link_to "#", class: "addtocart-button" do %>
			  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
			  <span>加入购物车</span>
			<% end %>
	      <% else %>
	        <%= link_to new_user_session_path do %>
			  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
			  <span>加入购物车</span>
		    <% end %>
	      <% end %>
	    </div>
	  </div>

	</div>
  </div>
</div>
