<div class="col-sm-6 col-md-3">
  <div class="thumbnail product-box" data-no-turbolink>
	<%= link_to product_path product do %>
	  <%= image_tag product.pictures.first.pic.url(:medium) %>
	<% end %>
	<div class="caption">
	  <h4><%= product.name %></h4>
	  <p><span>¥ <%= product.price %> 元</span>/<span><%= product.unit %></span> <span>数量 <%= product.amount %></span></p>
	  <p><%= render 'products/icons', product: product %></p>

	  <div class="buy">
		<%= hidden_field_tag :product_id, product.id %>

	    <% if user_signed_in? %>
	      <%= link_to '加入购物车', "#", class: "btn btn-default btn-lg addtocart-button" %>
	    <% else %>
	      <%= link_to '加入购物车', new_user_session_path, class: "btn btn-default btn-lg" %>
	    <% end %>
	  </div>
	</div>
  </div>
</div>
