<div class="container">
  <p id="notice"><%= notice %></p>
  
  <div class="row">
	<div class="col-md-12 catalog-level" data-no-turbolink>
	  <%= catalog_links(@product.catalog) %>
	</div>
  </div>

  <div class="row">
	<div class="col-md-8">

      <div class="thumbnail">
        <% @product.pictures.each do |p| %>
      	<%= image_tag p.pic.url(:big) %>
        <% end %>
      </div>

      <div class="description">
        <%= @product.description %>
      </div>
	</div>

	<div class="col-md-4">
	  <div class="product-info">
        <div class="name">
          <strong>名称: </strong>
          <%= @product.name %>
        </div>
        
        
        <div class="price">
          <strong>价格: </strong>
	  	<%= "￥#{@product.price}元 / #{@product.unit}" %>
        </div>
             
        <div class="amount">
          <strong>数量: </strong>
	  	<%= "#{@product.amount} #{@product.unit}" %>
        </div>

	    <hr>

	    <%= render 'icons', product: @product %>

	  </div>

	  <div class="buy">
		<%= hidden_field_tag :product_id, @product.id %>
		<%= label_tag "购买数量" %>
	    <%= number_field_tag :buycount, 1, min: 1, max: @product.amount %>

	    <div class="buy-buttons">
	      <%= link_to '立即购买', "#", class: "btn btn-default btn-lg buy-button" %>
		  <% if user_signed_in? %>
	        <%= link_to '加入购物车', "#", class: "btn btn-default btn-lg addtocart-button" %>
		  <% else %>
	        <%= link_to '加入购物车', new_user_session_path, class: "btn btn-default btn-lg" %>
		  <% end %>
	    </div>
	  </div>
	</div>

  </div>
</div>
