<p id="notice"><%= notice %></p>

<div class="thumbnail">
  <% @product.pictures.each do |p| %>
	<%= image_tag p.pic.url(:big) %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @product.unit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
