<div class="container">
  <p id="notice"><%= notice %></p>
  
  <div class="row">
	<div class="col-md-12 catalog-level">
	  <%= catalog_links(@product.catalog) %>
	</div>
  </div>

  <div class="row">
	<div class="col-md-8">

      <div class="thumbnail">
        <% @product.pictures.each do |p| %>
      	<%= image_tag p.pic.url(:big) %>
        <% end %>
      </div>

      <div class="description">
        <%= @product.description %>
      </div>
	</div>

	<div class="col-md-3 product-info">
      <div class="name">
        <strong>名称: </strong>
        <%= @product.name %>
      </div>
      
      
      <div class="price">
        <strong>价格: </strong>
		<%= "￥#{@product.price}元 / #{@product.unit}" %>
      </div>
           
      <div class="amount">
        <strong>数量: </strong>
		<%= "#{@product.amount} #{@product.unit}" %>
      </div>

	  <hr>

	  <%= render 'icons', product: @product %>

	</div>

  </div>
</div>
